
/* ESTILOS GLOBALES
-------------------------------------------------- */
/* Relleno debajo del pie de página y cuerpo de texto más claro */


body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #3AFF6F;
}

header .textos .nombre {
    font-size: 60px;
    font-weight: 800;
	text-align: center;
	}
	

/* PERSONALIZAR EL CARRUSEL
-------------------------------------------------- */

/* Clase base del carrusel */
.carrusel {
  margin-bottom: 4rem;
}
/* Ya que posicionamos la imagen, necesitamos ayudar con el pie de foto */
.carrusel-caption {
  inferior: 3rem;
  z-index: 10;
}

/* Declarar alturas debido al posicionamiento del elemento img */
.carrusel-elemento {
  altura: 40rem;
}


/* CONTENIDO COMERCIAL
-------------------------------------------------- */

/* Alinear al centro el texto dentro de las tres columnas debajo del carrusel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
/* rtl:empezar:ignorar */
.marketing .col-lg-4 p {
  margin-left: .75rem;
  margin-right: .75rem;
}
/* rtl:fin:ignorar */


/* Largometrajes
------------------------- */

.featurette-divider {
  margen: 5 rem 0; /* Espacia el Bootstrap <hr> más */
}

/* Reducir los encabezados de marketing */
/* rtl:comenzar:eliminar */
.featurette-heading {
  letter-spacing: -0,05 rem;
}

/* rtl:fin:eliminar */

/* CSS RESPONSABLE
-------------------------------------------------- */

@media (ancho mínimo: 40em) {
  /* aumentar el tamaño del contenido del carrusel */
  .carrusel-caption p {
    margen inferior: 1,25 rem;
    tamaño de fuente: 1,25 rem;
    altura de línea: 1,4;
  }

  .featurette-heading {
    font-size: 50px;
  }

@media (ancho mínimo: 62em) {
  .featurette-heading {
    margen superior: 7rem;
  }


/* --------------VIDEO--------------*/
.video {align-content: center; opacity: 1; overflow: hidden; }


	
footer {
	background-color:  #248E2A;
	padding: 20px;
	min-height: 100px;
}
.iconos {
	font-size: 50px;
	color: #6CFF93;
	padding: 0 8px;
}